- unless article.image.nil?
  %div{:style =>"float:right;"}
    = image_tag url_for_file_column(article, "image",{:subdir=>"medium"})
%div{:style =>"float:left;"}
  %h2
    = article.title
  .content= article.body
  .author= #{article.author}
